.uploads__header {
  background: $color1;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  padding: 15px;
  color: lighten($color1, 34%);
}

.thumbnail {
  display: block;
  color: $color3;
  text-decoration: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
  background: $color1;
  border-radius: 4px;
  overflow: hidden;

  img {
    width: 200px;
    display: block;
  }

  &__title {
    display: block;
    font-weight: 500;
    padding: 15px;
    padding-bottom: 0;
    color: $color3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__author {
    display: block;
    color: lighten($color1, 34%);
    padding: 15px;
    padding-top: 5px;
  }

  &:hover,
  &:focus {
    background: lighten($color1, 4%);
  }
}

.uploads__grid {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-left: -10px;
  margin-right: -10px;

  .thumbnail {
    margin: 10px;
  }
}
