<!DOCTYPE html>
<html>
  <head>
    <title>Cobalt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', async: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
